{% include 'base.html' %}
<div class="login-container">
<div class="login-page">
    <div class="form">
        <input
        type="text"
        placeholder="username"
        class="username"
        />
        <input
        type="password"
        placeholder="password"
        class="password"
        />
        <input
        type="password"
        placeholder="confirm password"
        class="password"
        />
        <button>signup</button>
        <p class="message">Already registered? <a href="/login">Login</a></p>
    </div>
</div>
</div>